{
  "DomainController": "dc01.contoso.com",
  "OutputFolder": "../output",
  "LogLevel": "Info",
  "Connection": {
    "UseLDAPS": true,
    "Port": 636,
    "UseCurrentUser": true,
    "CredentialProfile": {
      "Username": "",
      "Password": "",
      "Domain": ""
    }
  }
}